// Base
html,
body,
#root {
   height: 100%;
}

#App {
   height: 100%;
   display: flex;
   flex-direction: column;
}

#App > main {
   flex-grow: 1;
}

// Custom selectors
.grid32 {
   display: grid;
   grid-template-columns: 1fr;
}

@media (min-width: 768px) {
   .grid32 {
      grid-template-columns: 3fr 2fr;
   }
}
