.descriptionBox {
   & > span {
      transition: all 0.15s ease;
   }
   &:hover > span{
      transform: scale(1.4) translate(0,-0.2rem);
   }
}



.transition05{
   transition: filter 0.5s ease;
}

.blurred {
   filter: blur(8px);
}

