.InputField {
   display: flex;
   & > div {
      // Position and size
      flex-basis: 0;
      flex-shrink: 0;
      flex-grow: 5;

      label {
         // styles
         opacity: 0.8;
         &:hover {
            opacity: 1;
         }

         &:has(input:focus) {
            outline-width: 0.5px;
         }

         // Base input logic
         cursor: text;
         display: block;
         padding: 1em 1em 0.5em;
         position: relative;

         span {
            position: absolute;
            top: 0.75em;
            left: 1em;
            font-size: 1em;
            transition: all 0.15s ease;
         }

         input {
            // base
            // appearance: none;
            background: inherit;

            // styles
            width: 100%;
            outline: none;
            &:not(:placeholder-shown) ~ span,
            &:focus ~ span {
               font-size: 0.75em;
               top: 0;
               left: 1.25em;
            }
         }
      }
   }

   & > span {
      // Position and size
      flex-basis: 0;
      flex-shrink: 0;
      flex-grow: 2;

      // Other
      font-size: 1em;
   }
}

.InputField__Info {
   &:has(.InputField__Info-hover:hover) .InputField__Info-display {
      opacity: 1 !important;
   }
}
.InputField__Info-display {
   transition: all 0.15s ease;
}
